#box {
    position: absolute;
    height: 200px;
    border: 1px solid black;
}

.whitenotes {
    background-color: whitesmoke;
    border: 1px solid black;
    float: left;
    position: relative;
    height: 130%;
    width: 65px;
  
    
   
}

.blacknotes {
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: teal;
    z-index: 1;
    left: 70%;
    
}

.active {
    background-color: goldenrod;
}
