* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    background-color: lightsteelblue;
   }

#box {
    margin: 5%;
    position: absolute;
    height: 200px;
    display: flex;
    align-items: flex-start;
    user-select: none;
    

}

.whitenotes {
    background-color: whitesmoke;
    border: 1px solid dimgray;
    display: flex;
    float: left;
    position: relative;
    height: 130%;
    width: 65px;
    font-size: 20px;
    font-family: 'Courier New';
    font-weight: bold; 
    align-items: flex-end;
    color: darkblue; 
    
    
}

.blacknotes {
    position: absolute;
    height: 60%;
    width: 60%;
    background-color: teal;
    z-index: 1;
    left: 70%;
    font-size: 20px;
    font-family: 'Courier New';
    font-weight: bold; 
    align-self: flex-start;
    display: flex;
    align-items:flex-end; 
    border: 1px solid teal;
    
}

.active {
    background-color: sandybrown;
}
